backup/b9U1hIQcwSFVJJo0.json
{
  "createdAt": "2025-07-29T13:55:14.793Z",
  "updatedAt": "2025-09-23T17:09:40.903Z",
  "id": "b9U1hIQcwSFVJJo0",
  "name": "SigesWhatsAppAssetsAvailable",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsappSendMsg",
        "options": {}
      },
      "id": "f29d0fed-9c66-46d8-a0f5-e5a7e7b0c751",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -848,
        0
      ],
      "webhookId": "89bb094d-322d-4aa1-9c53-94f38ab3798c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98ae3b5f-ad82-4a99-a8df-3e8fe25d11af",
              "name": "msg",
              "value": "={{ $json.body.msg }}",
              "type": "string"
            },
            {
              "id": "e6eda33e-35e1-452e-a52e-672fa49eb6cb",
              "name": "imgUrl",
              "value": "={{ $json.body.imgUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        0
      ],
      "id": "7368e5ce-965d-46ba-8f8c-821b53de251c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "SIGES",
        "remoteJid": "120363402140206159@g.us",
        "media": "={{ $('Edit Fields').item.json.imgUrl }}",
        "caption": "={{ $('Edit Fields').item.json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -320,
        -96
      ],
      "id": "4f92c20b-2787-43e9-9fb2-e637c26a3d13",
      "name": "Enviar imagem",
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.imgUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "a722d96c-d73d-4aa6-a107-f3d8b4ce9f07"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c1f4a72-4b93-4788-ade1-ee7de85cfbfa",
                    "leftValue": "={{ $json.imgUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noImage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -528,
        0
      ],
      "id": "6bcac03d-be2b-4067-af5c-8d619fd5e79a",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Whatsapp Group Ids ##\nDPCCDU Operação EBAP's\n120363402140206159@g.us\n\nSiges Avisos Temporários\n120363402818790181@g.us\n",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -256
      ],
      "typeVersion": 1,
      "id": "d0f233b2-258b-40d1-8c62-b6aff77886ec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SIGES",
        "remoteJid": "120363402140206159@g.us",
        "messageText": "={{ $('Edit Fields').item.json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -320,
        96
      ],
      "id": "625184b1-58d3-4631-881d-5c8a31de0911",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51e94d62-fd5c-4b66-8f74-0027eb4fdf79",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-29T13:55:14.793Z",
      "updatedAt": "2025-07-29T13:55:14.793Z",
      "role": "workflow:owner",
      "workflowId": "b9U1hIQcwSFVJJo0",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}