backup/b9U1hIQcwSFVJJo0.json
{
  "updatedAt": "2026-01-29T18:19:52.168Z",
  "createdAt": "2025-07-29T13:55:14.793Z",
  "id": "b9U1hIQcwSFVJJo0",
  "name": "SigesWhatsAppAssetsAvailable",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsappSendMsg",
        "options": {}
      },
      "id": "f29d0fed-9c66-46d8-a0f5-e5a7e7b0c751",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1136,
        0
      ],
      "webhookId": "89bb094d-322d-4aa1-9c53-94f38ab3798c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98ae3b5f-ad82-4a99-a8df-3e8fe25d11af",
              "name": "msg",
              "value": "={{ $('Webhook').item.json.body.msg }}",
              "type": "string"
            },
            {
              "id": "e6eda33e-35e1-452e-a52e-672fa49eb6cb",
              "name": "imgUrl",
              "value": "={{ $('Webhook').item.json.body.imgUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -176
      ],
      "id": "7368e5ce-965d-46ba-8f8c-821b53de251c",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "SIGES",
        "remoteJid": "120363402140206159@g.us",
        "media": "={{ $json.imgUrl }}",
        "caption": "={{ $json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -16,
        -272
      ],
      "id": "4f92c20b-2787-43e9-9fb2-e637c26a3d13",
      "name": "Enviar imagem",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.imgUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "a722d96c-d73d-4aa6-a107-f3d8b4ce9f07"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c1f4a72-4b93-4788-ade1-ee7de85cfbfa",
                    "leftValue": "={{ $json.imgUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noImage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        -176
      ],
      "id": "6bcac03d-be2b-4067-af5c-8d619fd5e79a",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Whatsapp Group Ids ##\nDPCCDU Operação EBAP's\n120363402140206159@g.us\n\nSiges Avisos Temporários\n120363402818790181@g.us\n",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -272
      ],
      "typeVersion": 1,
      "id": "d0f233b2-258b-40d1-8c62-b6aff77886ec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=SIGES",
        "remoteJid": "=120363402140206159@g.us",
        "messageText": "={{ $json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "625184b1-58d3-4631-881d-5c8a31de0911",
      "name": "Enviar texto",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "instance-connect",
        "instanceName": "SIGES"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -912,
        0
      ],
      "id": "74e3b310-a270-4e41-a5a0-6e5c6ed03907",
      "name": "Conectar instancia",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc493a77-e944-4dcd-bbc3-887af1104091",
              "leftValue": "={{ $json.data.instance.state }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -80
      ],
      "id": "99596935-dd22-4a77-a269-b75cf5188dd4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "restart-instance",
        "instanceName": "SIGES"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -240,
        96
      ],
      "id": "3f0aab46-b253-43d3-961a-87751d7274f0",
      "name": "Reiniciar instancia",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -464,
        16
      ],
      "id": "ca74c39a-137a-4073-ac6c-81ce65aa0225",
      "name": "Wait",
      "webhookId": "af646b4d-6fb8-481f-b638-78500db9bbb3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Conectar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conectar instancia": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar instancia": {
      "main": [
        [
          {
            "node": "Conectar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Reiniciar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "services-n8n-editor.2unk5k.easypanel.host",
            "user-agent": "Dart/3.8 (dart:io)",
            "content-length": "155",
            "accept-encoding": "gzip",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "191.39.11.89",
            "x-forwarded-host": "services-n8n-editor.2unk5k.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "46bd6351a544",
            "x-real-ip": "191.39.11.89"
          },
          "params": {},
          "query": {},
          "body": {
            "msg": "INDISPONIBILIDADE:\n3016 - EBAP ROTULA CUIAS\nBOMBEAMENTO / GMB 06\nBomba: em manutencao.\n\nAna Paula em 03/10/2025 14:00 h",
            "imgUrl": ""
          },
          "webhookUrl": "https://services-n8n-webhook.2unk5k.easypanel.host/webhook/whatsappSendMsg",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "8ec0c22b-d4f4-49c5-80eb-6a79c812cfcc",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-29T13:55:14.793Z",
      "createdAt": "2025-07-29T13:55:14.793Z",
      "role": "workflow:owner",
      "workflowId": "b9U1hIQcwSFVJJo0",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}