backup/cHpKsbwI4dry0z4D.json
{
  "createdAt": "2025-02-03T16:58:57.539Z",
  "updatedAt": "2025-02-05T02:24:05.871Z",
  "id": "cHpKsbwI4dry0z4D",
  "name": "BaseConhecimento",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -140
      ],
      "id": "7d7cc182-6e25-4ef3-bfda-e820790e4fde",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "drawingsToFormat": "image/png"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        -160
      ],
      "id": "53b28b93-be0b-47b8-8a15-427422ec3999",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        80
      ],
      "id": "a1017315-aaba-4483-a832-05a79884edaa",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1160,
        -180
      ],
      "id": "70cbe1be-eea2-43c0-9ff3-28a34fee3268",
      "name": "Supabase Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1340,
        60
      ],
      "id": "74761aa8-5132-4513-8f28-118db122bf31",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1420,
        260
      ],
      "id": "e66ef0f1-65d3-4b2d-9fe9-30fba7dbb360",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        -160
      ],
      "id": "d8285dd8-6d58-493c-93a1-eeaa3eefda03",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Você é um assistente especializado em analisar relatórios de atividades de uma empresa na área de manutenção industrial.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        320
      ],
      "id": "fc5f6815-d9b0-4911-b6c2-545204b515f3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        420
      ],
      "id": "3fd5151d-1e26-495a-9002-4e7a918b534f",
      "name": "When chat message received",
      "webhookId": "ac796740-cf29-4be9-a516-5f31546acbdb"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        420,
        540
      ],
      "id": "9e5fa3e5-49c8-4e56-a199-d52f8f836052",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ATaNiInY85bisU3B",
          "name": "Postgres Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "=Você é um assistente especializado em analisar detalhadamente relatórios de atividades.\nOs relatórios já foram carregados e estão disponíveis na tabela vetorial documents do Supabase. \n\n### Suas tarefas são:\n1. Usar o RAG para buscar informações nos documentos carregados.\n2. Extrair informações detalhadas sobre os serviços de manutenção realizados, com base nos relatórios disponíveis. \n\n### Siga estas instruções:\n1.\tIdentifique nos relatorios de atendimentos as seguintes informações:\n1.1\tDados de Solicitação:\n1.1.1\tIdentificação da Ordem de Serviço ou OS;\n1.1.2\tPrioridade;\n1.1.3\tData solicitação;\n1.1.4\tUnidade;\n1.1.5\tSetor;\n1.1.6\tServiços a serem executados.\n\n1.2\tDados do Atendimento:\n1.2.1\tEmpresa responsável;\n1.2.2\tContrato;\n1.2.3\tData (inicio e fim);\n1.2.4\tEquipe;\n1.2.5\tSituação OS;\n1.2.6\tMotivo;\n1.2.7\tCausa;\n1.2.8\tObservações.\n\n1.3\tCusto geral (material, serviços e transporte);\n\n1.4\tDados das Atividades realizadas por Ativo:\n1.4.1\tDescrição do Ativo;\n1.4.2\tCodigo do Ativo;\n1.4.3\tDados de localização (Antes e depois do atendimento):\n1.4.3.1\tUnidade;\n1.4.3.2\tSetor;\n1.4.3.3\tPosição;\n1.4.3.4\tSituação;\n1.4.3.5\tData situação.\n1.4.3.6\tComentários;\nObservações: \nCasos os dados de localização antes e depois sejam diferentes, significa que houve uma movimentação de ativo.\n1.4.4\tIntervenções realizadas;\n1.4.5\tCusto por atividade (valores de materiais, serviços e transporte);\nObservações: \nA soma dos custos das atividades deverá ser o custo total do relatorio de atividades;\n1.5\tDados de processamento das informações (reportada, Revisada, Rejeitada e Arquivada):\n1.5.1\tData;\n1.5.2\tResponsável.\n\n### OBSERVAÇÔES\nA depender do questionamento do usuário poderá ser necessário agrupar informações de mais de um relatorio de atividades como por exemplo:\n\t\"Quais os serviços realizados no equipamento de código 1234 ?\"\n\"Quantos atentimentos houveram numa determinada Unidade ?\"\n\"Quais os custos de manutenção de OS eletricas preventivas da unidade XYZ ?\"\n\nCaso não encontre informações: \n- Informe que nao foram encontrados dados atualizados.\n",
        "topK": 12
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        540,
        540
      ],
      "id": "9f082f50-81dc-4773-8b8b-f7f630317b7b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        380,
        760
      ],
      "id": "bca5004f-0e81-4f07-b892-00d9be944b9e",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA",
          "mode": "list",
          "cachedResultName": "knowledge_base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        -220
      ],
      "id": "343139c6-eec2-4cde-aa02-72b6c5c9ac54",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA",
          "mode": "list",
          "cachedResultName": "knowledge_base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        -20
      ],
      "id": "3bb1bc9e-4ffe-4562-8948-1bafa327c244",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        -260
      ],
      "id": "90f9b101-931c-49d6-a238-be0477b9105c",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c68362-267e-404f-bba6-e7c5f816cd31",
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "593fb2c9-4763-4fec-8e9e-718f3399bea7",
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        -120
      ],
      "id": "faa27daa-1a67-47b6-8cc0-287bee6a8078",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "id": "51833908-e632-4d49-b231-2fee5a746685",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ],
      "id": "46997a6c-6947-4770-bafe-efd1e9155358",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1220,
        40
      ],
      "id": "1baedf5a-7dfc-4699-b053-f3fc22008d2e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        520
      ],
      "id": "f9424410-19fd-4181-8c21-36021a694a17",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        880,
        760
      ],
      "id": "a8c22ee5-d1e0-4792-8e48-47c060e4f64c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        480,
        980
      ],
      "id": "79fda1b5-1fe3-4ba3-9bad-91d8daf578e1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "name": "servicesReports",
        "description": "Busca de informações baseados nos relatorios de atendimentos.",
        "topK": 12
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -40,
        700
      ],
      "id": "ed44a420-6590-43f4-b773-e933896ca87b",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -300,
        480
      ],
      "id": "f857f0c7-e4e6-488d-bc63-9048aade79e5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "responseFormat": "text",
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -360,
        660
      ],
      "id": "2ce6e3b0-6e05-4d38-85ab-80a864437743",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -240,
        660
      ],
      "id": "c77ae7d8-4dbd-4bc0-830b-e45c4327c0e2",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "ATaNiInY85bisU3B",
          "name": "Postgres Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -320,
        860
      ],
      "id": "b8a21cec-b2ef-4cdd-8398-3c016cd28060",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        920
      ],
      "id": "37a97d95-94d9-4c09-9c36-9e2cb0ae5fbe",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -300,
        1020
      ],
      "id": "0828a8e2-31d2-454e-85e7-13cd8bc76674",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-02-05T02:22:56Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-02-05T02:22:22Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "11928452-a55a-41d8-96e7-e8c9b0e0ec92",
  "triggerCount": 4,
  "tags": []
}