backup/cQyMq6N8lV3gwYmb.json
{
  "updatedAt": "2025-12-31T17:38:38.201Z",
  "createdAt": "2025-12-31T16:11:07.623Z",
  "id": "cQyMq6N8lV3gwYmb",
  "name": "SigesWhatsAppAssetsAvailableDraft New",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        456
      ],
      "id": "3e669ad6-751b-40f9-838f-f7dc64e0f8ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_units_assets_tags",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "last_processing_id",
              "condition": "eq",
              "keyValue": "1"
            },
            {
              "keyName": "last_created_user_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "53270290-b24e-47fa-ad5f-3868b841c1dd",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        -32
      ],
      "id": "5f322071-b05c-4af6-9435-7b60df53b356",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        752,
        -32
      ],
      "id": "862886bd-f026-4df9-b5ef-5f1763089fa7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0c88a34-541e-43c4-8b20-d0c98dc40345",
              "leftValue": "={{(() => {\n  const createdAt = new Date($json.last_created_at); // Data de criação\n  const now = new Date(); // Data atual\n  const diffMs = now - createdAt; // Diferença em milissegundos\n  const diffMinutes = Math.floor(diffMs / 60000); // Converter para minutos\n  return diffMinutes;\n})()}}\n\n\n",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        40
      ],
      "id": "b40af75b-eef5-4c6c-b062-2b321659401d",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "users_notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id_to",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "Disponibilidade Ativos em Rascunho"
            },
            {
              "fieldId": "body",
              "fieldValue": "=REPORTAR a sua informação quanto a disponibilidade de Ativos: {{ \"\\n\" + $('Get many rows').item.json.unit_description + \"\\n\" + $('Get many rows').item.json.tag_description + \"\\n\" + $('Get many rows').item.json.tag_sub_description + \"\\n\" }}"
            },
            {
              "fieldId": "user_to_whatsapp",
              "fieldValue": "={{ $json.mobile_whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        -224
      ],
      "id": "0094b61f-0acb-4b86-a952-aa1843d23552",
      "name": "Create a row1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        264
      ],
      "id": "3fe259eb-6f44-4f8c-8e1a-30111de6749b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "v_users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.last_created_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -224
      ],
      "id": "5ff7a2a4-7527-450d-abf6-89d5a1291f2c",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_units_assets_tags",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "last_processing_id",
              "condition": "eq",
              "keyValue": "1"
            },
            {
              "keyName": "last_created_user_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        360
      ],
      "id": "aef11c1b-a059-4f58-8f5f-d7438852984e",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "assets_available",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.last_asset_available_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        288
      ],
      "id": "f3699a74-ae19-40e1-af5f-a28361392e9c",
      "name": "Get AssetAvailProc2",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cfg_units_assets_tags",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_processing_id",
              "fieldValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ],
      "id": "6c2c9dd7-f9e7-468a-9c55-070102d5bf6f",
      "name": "Update a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        360
      ],
      "id": "c863fe79-c434-4eb8-90d6-608bce4feae2",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        752,
        288
      ],
      "id": "cedb23d4-7805-4dec-8c7c-9fef2fb6f4e4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        -32
      ],
      "id": "762ba0e0-869f-4e59-a9c5-1f14ced424b5",
      "name": "Wait",
      "webhookId": "03af98f4-0559-4b9c-a88b-248ac71d2593",
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AssetAvailProc2": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Get AssetAvailProc2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c35cd185-cc16-4c04-b3a3-04e0de49e5ba",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-31T16:11:07.623Z",
      "createdAt": "2025-12-31T16:11:07.623Z",
      "role": "workflow:owner",
      "workflowId": "cQyMq6N8lV3gwYmb",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}