backup/EHcNLRZweFBXE0Tb.json
{
  "updatedAt": "2025-11-03T19:36:07.471Z",
  "createdAt": "2025-09-06T03:21:36.635Z",
  "id": "EHcNLRZweFBXE0Tb",
  "name": "convertToThumbnail",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.body.storage_url_public }}/{{ $json.body.storage_bucket }}/{{ $json.body.img_path }}/{{ $json.body.img_name }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "b2d697ae-c6c4-440c-bfab-d3e05ea32189",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convertToThumbnail",
        "options": {}
      },
      "id": "401fa09a-06fa-42c8-90fc-5b9afea25362",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "webhookId": "3ac73b27-b23a-422c-8c56-f6561c34e330"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 250,
        "height": 250,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "caca590d-3aa2-45cd-b212-4d7d23384cef",
      "name": "Edit Image",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.storage_url_upload }}/{{ $json.body.storage_bucket }}/{{ $json.body.img_path }}/thumb_{{ $json.body.img_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "3b9e68c3-999b-4728-98f0-095fdf9b32fc",
      "name": "HTTP SB Storage Upload",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Código para n8n - gera signed URL do imgproxy\nconst crypto = require('crypto');\n\n// 1) Ler parâmetros do nó \"Set Imgproxy URL\"\nconst imgproxyNode = $('Set Imgproxy URL').item.json || {};\nconst imgproxyUrl = imgproxyNode.imgproxyUrl;      // ex: \"https://automation-imgproxy....\"\nconst keyHex = imgproxyNode.imgproxyKey;          // -> corrigido para 'imgproxyKey'\nconst saltHex = imgproxyNode.imgproxySalt;        // -> 'imgproxySalt'\n\n// 2) Ler URL da imagem do nó \"Set Img URL\"\nconst imgNode = $('Set Img URL').item.json || {};\nconst imgUrl = imgNode.imgUrl;                    // -> corrigido para 'imgUrl'\n\n// Validações rápidas para debug (remove se quiser)\nif (!imgproxyUrl) throw new Error('imgproxyUrl is missing');\nif (!keyHex) throw new Error('imgproxyKey is missing');\nif (!saltHex) throw new Error('imgproxySalt is missing');\nif (!imgUrl) throw new Error('imgUrl is missing');\n\nconsole.log('imgproxyUrl:', imgproxyUrl);\nconsole.log('imgUrl:', imgUrl);\n\n// 3) Converte key e salt de HEX para Buffer (necessário para HMAC)\nconst key = Buffer.from(keyHex, 'hex');\nconst salt = Buffer.from(saltHex, 'hex');\n\n// 4) Define o path do processamento\n// Usamos encodeURIComponent para garantir que a URL de origem não quebre o path.\n// Ex: /resize:fill:300:300/plain/<URL-encoded>\nconst path = `/resize:fill:100:100/plain/${encodeURIComponent(imgUrl)}`;\n\n// 5) Cria a assinatura segura (HMAC-SHA256)\n// imgproxy espera HMAC-SHA256 com key como chave e (salt + path) como mensagem\nconst hmac = crypto.createHmac('sha256', key)\n  .update(salt)\n  .update(path)\n  .digest('base64url'); // Node suporta 'base64url'\n\n// 6) Monta a URL final assinada\n// Normaliza barras entre host e assinatura\nconst base = imgproxyUrl.endsWith('/') ? imgproxyUrl.slice(0, -1) : imgproxyUrl;\nconst signedUrl = `${base}/${hmac}${path}`;\n\n// Retorna como saída do node\nreturn [{\n  json: {\n    signedUrl,\n    debug: {\n      path,\n      hmac,\n      base\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "id": "12393bb1-a0ff-4209-9c6b-c6c4cd896d17",
      "name": "Code in JavaScript",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "imgproxyUrl",
              "value": "https://automation-imgproxy.2unk5k.easypanel.host/"
            },
            {
              "name": "imgproxyKey",
              "value": "0406c48e328fbb7d6e"
            },
            {
              "name": "imgproxySalt",
              "value": "21011ae0c17d5f7150"
            }
          ]
        },
        "options": {}
      },
      "id": "57fdcb8b-8a2a-44ce-a9b5-19f1e03b2500",
      "name": "Set Imgproxy URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "imgUrl",
              "value": "={{ $('Webhook').item.json.body.storage_url_public }}/{{ $('Webhook').item.json.body.storage_bucket }}/{{ $('Webhook').item.json.body.img_path }}/{{ $('Webhook').item.json.body.img_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "990089f9-8360-4c12-a53a-07a472f27e65",
      "name": "Set Img URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.storage_url_upload }}/{{ $json.body.storage_bucket }}/{{ $json.body.img_path }}/thumb_{{ $json.body.img_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        192
      ],
      "id": "44a86501-1684-4d52-8cde-00f5fd42a43b",
      "name": "HTTP SB Storage Upload1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.signedUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "188e5559-3ed3-4ca0-aa1d-f2e763a1a91c",
      "name": "Download Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "retryOnFail": true
    }
  ],
  "connections": {
    "Download Image": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Imgproxy URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "HTTP SB Storage Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Imgproxy URL": {
      "main": [
        [
          {
            "node": "Set Img URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Img URL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "HTTP SB Storage Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "services-n8n-editor.2unk5k.easypanel.host",
            "user-agent": "Dart/3.8 (dart:io)",
            "content-length": "284",
            "accept-encoding": "gzip",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "187.110.193.81",
            "x-forwarded-host": "services-n8n-editor.2unk5k.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "578d354eea6a",
            "x-real-ip": "187.110.193.81"
          },
          "params": {},
          "query": {},
          "body": {
            "img_path": "companies/1/assets/408561",
            "img_name": "1762197607390780.jpg",
            "storage_url_public": "https://vps.supabase.siges-app.com.br/storage/v1/object/public",
            "storage_url_upload": "https://vps.supabase.siges-app.com.br/storage/v1/object",
            "storage_bucket": "siges"
          },
          "webhookUrl": "https://services-n8n-webhook.2unk5k.easypanel.host/webhook/convertToThumbnail",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "95c07a69-b1ed-40bd-8a4c-91c12ab64951",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-06T03:21:36.635Z",
      "createdAt": "2025-09-06T03:21:36.635Z",
      "role": "workflow:owner",
      "workflowId": "EHcNLRZweFBXE0Tb",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}