backup/J2vYSyInDk4XbRAd.json
{
  "createdAt": "2025-10-26T13:30:00.014Z",
  "updatedAt": "2025-10-26T15:36:54.528Z",
  "id": "J2vYSyInDk4XbRAd",
  "name": "Siges_AI_Tool_OVAssetsByUnitAssetTagId",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId",
              "type": "number"
            },
            {
              "name": "unit_id"
            },
            {
              "name": "asset_tag_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        0
      ],
      "id": "5c96e151-fbbd-49e5-971d-f10ad05fee56",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voce é um assistente especialista quanto as informações sobre atividades realizadas em ativos.\nVoce deve usar como parametro do setor (asset_tag_id) e a unidade (unit_id).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "0d6d7fd6-17fa-4280-b37d-5dbc6330c8ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a7dd96a-bfb0-4bdb-bed2-95412e0c9629",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "c85d65cc-f4ce-4027-9992-ce3a9214886a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "4f2d24ae-2e89-426b-a1c8-90a214e67044",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Estas informações devem ser agrupados conforme abaixo:\n\nSetor       | Posição | Ativos\n============+=========+============================\nBOMBEAMENTO | GMB 01  | 1230 - MOTOR .....\n            |         | 12/12/2024:\n            |         | Testes, Substituiçao ...\n------------+---------+----------------------------\nBOMBEAMENTO | GMB 01  | 1231 - BOMBA ......\n            |         | 13/12/2024:\n            |         | Reaperto gaxetas\n------------+---------+----------------------------\nBOMBEAMENTO | GMB 02  | 1235 - MOTOR .....\n            |         | 13/12/2024:\n            |         | Reaperto gaxetas\n===================================================",
        "operation": "getAll",
        "tableId": "v_orders_visits_assets",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "before_unit_id",
              "condition": "eq",
              "keyValue": "=1181"
            },
            {
              "keyName": "before_tag_id",
              "condition": "eq",
              "keyValue": "=33"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "20db45c0-e015-4c19-9ce8-f2f103c8537c",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "086c8345-9cef-4416-88e4-9989fa28550c",
              "name": "unit_id",
              "value": "=1181",
              "type": "string"
            },
            {
              "id": "a3819583-7d5d-461d-8567-b97df7cf517b",
              "name": "asset_tag_id",
              "value": "=33",
              "type": "string"
            },
            {
              "id": "68725ba7-9f25-44e2-b2c7-1bf1085cd3ae",
              "name": "session_id",
              "value": "=124",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        0
      ],
      "id": "07cd06a5-9de7-499a-abe3-073100dd15af",
      "name": "SearchFields"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "1a66ecdf-b03e-44ae-8307-c07944ec1e14",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SearchFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchFields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0bd6ac32-8fdc-439b-a9ad-50e89151dd9d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-26T13:30:00.014Z",
      "updatedAt": "2025-10-26T13:30:00.014Z",
      "role": "workflow:owner",
      "workflowId": "J2vYSyInDk4XbRAd",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}