backup/kbpOB3SWW2yFinJm.json
{
  "createdAt": "2025-03-06T12:20:24.058Z",
  "updatedAt": "2025-03-06T17:19:19.464Z",
  "id": "kbpOB3SWW2yFinJm",
  "name": "Siges",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -180
      ],
      "id": "de130f56-ef0e-45d7-93a0-1c181572ccac",
      "name": "When chat message received",
      "webhookId": "2fda71a6-59a1-456e-a403-dd4d167143d6"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você deve redirecionar o usuario para o agente responsavel pelas informacoes solicitadas referente a.\n- Equipamentos ou ativos, executar a tool \"SigesToolAssets\";\n- Unidades operacionais ou casas de bombas, executar a tool \"SigesToolUnits\".\n\nResponda sempre em português do Brasil."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -280,
        -180
      ],
      "id": "ac71ca41-3625-477d-870e-f7063e9ca9bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ],
      "id": "4f21f088-d45f-450e-9bbc-10168ac25b17",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fwI6OkArbrOdZEHG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -300,
        0
      ],
      "id": "cf3a5f3c-94b0-49de-9ce4-18b57753001a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ATaNiInY85bisU3B",
          "name": "Postgres Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "name": "SigesToolUnits",
        "workflowId": {
          "__rl": true,
          "value": "448DZOcd4TNf0x6d",
          "mode": "list",
          "cachedResultName": "SigesToolUnits"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "ed287069-02c7-42a1-9d29-8942d1612302",
      "name": "Units"
    },
    {
      "parameters": {
        "name": "SigesToolAssets",
        "workflowId": {
          "__rl": true,
          "value": "GHsfMmBzqGgs3ogz",
          "mode": "list",
          "cachedResultName": "SigesToolAssets"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionid": "={{ $json.sessionId }}",
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ],
      "id": "b79e7479-3098-420a-bf59-ed1899015ce0",
      "name": "Assets"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Units": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Assets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f5a8b403-8b66-4e50-90ec-5fff7410086a",
  "triggerCount": 0,
  "tags": []
}