backup/kOF72eiL0QQ1MEIn.json
{
  "createdAt": "2025-07-31T23:18:42.376Z",
  "updatedAt": "2025-07-31T23:23:56.566Z",
  "id": "kOF72eiL0QQ1MEIn",
  "name": "My workflow 2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        180
      ],
      "id": "782923ef-c307-4cb1-9885-ddd5a122516a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        520,
        260
      ],
      "id": "4f24ef17-ca92-4348-99cb-d2636760ad92",
      "name": "Get All"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Info').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Info').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/{{ $('Get All').item.json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        760,
        140
      ],
      "id": "9a5e055f-d44d-495b-ae6f-5f149a7b833f",
      "name": "Get file",
      "alwaysOutputData": true,
      "webhookId": "5e0ad87b-a7be-4c08-9e27-4a218cc9afdd",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f49bfdb-5206-4516-ada0-decfe00612be",
              "name": "owner",
              "value": "=DmaeTiDevSiges",
              "type": "string"
            },
            {
              "id": "f5996393-64ce-42db-bc87-3ef0525417eb",
              "name": "repository",
              "value": "=n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        260
      ],
      "id": "dc48fc1a-6aa1-414d-9dc7-41661e5d818d",
      "name": "Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "776eec21-c1ce-443d-8f7f-b99ee685c213",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        420
      ],
      "id": "acccc28d-d1ac-4071-8e65-e47a1b8dc495",
      "name": "Workflow Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1660,
        420
      ],
      "id": "c0cbf988-3a88-4f80-bdf1-a4ab4caaf7e0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        980,
        80
      ],
      "id": "f862d485-108b-493a-9641-d5414da66315",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "=data.id",
              "field2": "=data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1200,
        140
      ],
      "id": "a2bbf004-99d1-4a56-9a25-7718df034c2d",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        420
      ],
      "id": "ccebe97b-12ad-4aac-9d1d-a9663d77e1e5",
      "name": "Workflow"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Info').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Info').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/{{ $('Workflow').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $now.format('yyyy-MM-dd hh:mm') }} - {{ $('Workflow').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1860,
        420
      ],
      "id": "98e75c7d-e505-4052-8d28-f3c4c528750d",
      "name": "Create File",
      "alwaysOutputData": true,
      "webhookId": "ab582c36-e0c3-4c58-be0f-a2adfe0b5b64"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1660,
        220
      ],
      "id": "2d981202-9fea-495f-941b-f42edf4e291d",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        220
      ],
      "id": "a6edc54f-5869-473d-973f-5d6316627da3",
      "name": "Workflow1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Info').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Info').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/{{ $('Workflow1').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $now.format('yyyy-MM-dd hh:mm') }} - {{ $('Workflow1').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1860,
        220
      ],
      "id": "f40ca828-6dc5-48e8-83a4-5ecfc46e03c7",
      "name": "Edit File",
      "alwaysOutputData": true,
      "webhookId": "c5c3d5e5-318d-45fb-a683-2bedcda20998"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        760,
        800
      ],
      "id": "103262ec-5012-456e-b831-096cfb1792ae",
      "name": "n8n"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        600,
        800
      ],
      "id": "88390689-0686-4008-b1cb-ffe95af32693",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/{{ $json.file }}",
        "additionalParameters": {
          "reference": "={{ $json.version }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        420,
        800
      ],
      "id": "14f60219-02e0-4aeb-b9c9-6bd1a57c0170",
      "name": "Get file1",
      "alwaysOutputData": true,
      "webhookId": "8bc9cb99-f533-48c1-a11c-ed4338ea2b8c",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# RESTORE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 280,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        700
      ],
      "typeVersion": 1,
      "id": "4babc86d-5800-4a61-8b41-8d04bf3d287c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# CREATE and UPDATE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 600,
        "width": 2120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5969dd6f-5a9f-4b3b-9e10-b7e1af4455a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ],
      "id": "b54b1ab5-03e7-4dce-90ac-c672c5e42187",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71ca7165-a49c-4f0d-b560-8d9413fe4afa",
              "name": "file",
              "value": "fbEufRMLmpnxWzpq.json",
              "type": "string"
            },
            {
              "id": "23c1f776-13f4-4318-97c3-e3da32520257",
              "name": "owner",
              "value": "DmaeTidevSiges",
              "type": "string"
            },
            {
              "id": "b24be326-36b9-479b-bb21-49b193f4150c",
              "name": "repository",
              "value": "n8n",
              "type": "string"
            },
            {
              "id": "1acf6b7b-bbd1-49a6-bdc7-c213bb5b5470",
              "name": "version",
              "value": "aefce1092658d14f65ace25620e9e4f796ffa5e",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        800
      ],
      "id": "c4be325f-7a36-4e15-9087-a85a2db9a345",
      "name": "Get File to Recovery"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Get All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File to Recovery": {
      "main": [
        [
          {
            "node": "Get file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0a2eb4e1-913c-485b-919a-2cd3820460e7",
  "triggerCount": 0,
  "tags": []
}