backup/NUQNKBaIyZdii4oI.json
{
  "createdAt": "2025-10-26T13:48:41.163Z",
  "updatedAt": "2025-10-26T16:26:01.550Z",
  "id": "NUQNKBaIyZdii4oI",
  "name": "Siges_Ai_New",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        192
      ],
      "id": "9a3443b5-9a4d-4793-bc0a-f655653be6ee",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.toolName }}",
                    "rightValue": "vOVAssetsByUnitAndAssetTagId",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "897f896c-8c54-4252-95e8-af37902dada1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vOVAssetsByUnitAndAssetTagId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -368,
        192
      ],
      "id": "cfa274a7-9b75-4b33-8379-f212165624e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_orders_visits_assets",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "before_unit_id",
              "condition": "eq",
              "keyValue": "={{ $json.unit_id }}"
            },
            {
              "keyName": "before_tag_id",
              "condition": "eq",
              "keyValue": "={{ $json.asset_tag_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "id": "97acd580-4a02-4ec7-bcf1-e7dc2d3d435f",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "086c8345-9cef-4416-88e4-9989fa28550c",
              "name": "unit_id",
              "value": "=1181",
              "type": "number"
            },
            {
              "id": "a3819583-7d5d-461d-8567-b97df7cf517b",
              "name": "asset_tag_id",
              "value": "=33",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        192
      ],
      "id": "53a492f3-72e5-44bb-878f-d6e07afa347a",
      "name": "SearchFields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a7dd96a-bfb0-4bdb-bed2-95412e0c9629",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        192
      ],
      "id": "61d6a4c0-62f6-4acd-917e-59133aeaa0db",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        400
      ],
      "id": "36fec3a3-3d9a-4a93-ac9a-2961832fbbcf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5d8a59-42cc-4536-957e-235d8a8c041a",
              "name": "toolName",
              "value": "vOVAssetsByUnitAndAssetTagId",
              "type": "string"
            },
            {
              "id": "aabccb0f-591b-4ac6-8062-189f389c791c",
              "name": "session_id",
              "value": 124,
              "type": "number"
            },
            {
              "id": "25818abe-76a9-4380-a9b4-b87cc2cd255a",
              "name": "unit_id",
              "value": 1181,
              "type": "number"
            },
            {
              "id": "a760f290-2b48-45b7-8314-e44bce7a690d",
              "name": "asset_tag_id",
              "value": "33",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        192
      ],
      "id": "a1203fab-c147-4d43-950e-1b79a910475f",
      "name": "InitialInfo"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('InitialInfo').item.json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        400
      ],
      "id": "eb425604-d48d-4582-8c1a-f9130ea41d78",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voce é um assistente especialista sobre atividades realizadas em ativos obtidas da consulta ao banco de dados.\nEstas informações devem ser listadas conforme o modelo abaixo:\n\nSetor       | Posição | Ativos\n============+=========+============================\nBOMBEAMENTO | GMB 01  | 1230 - MOTOR .....\n            |         | 12/12/2024:\n            |         | Testes, Substituiçao ...\n------------+---------+----------------------------\nBOMBEAMENTO | GMB 01  | 1231 - BOMBA ......\n            |         | 13/12/2024:\n            |         | Reaperto gaxetas\n------------+---------+----------------------------\nBOMBEAMENTO | GMB 02  | 1235 - MOTOR .....\n            |         | 13/12/2024:\n            |         | Reaperto gaxetas\n===================================================",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        192
      ],
      "id": "3c565fa7-ced7-4e48-b141-57a3426128af",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "InitialInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchFields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SearchFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InitialInfo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0897033d-6ed8-4d24-85c1-ddcbb6ef0fa4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-26T13:48:41.163Z",
      "updatedAt": "2025-10-26T13:48:41.163Z",
      "role": "workflow:owner",
      "workflowId": "NUQNKBaIyZdii4oI",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}