backup/OOfxC9jjuvbSnnxA.json
{
  "createdAt": "2025-07-14T00:35:31.378Z",
  "updatedAt": "2025-09-30T18:42:07.699Z",
  "id": "OOfxC9jjuvbSnnxA",
  "name": "ExtractPDF",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Energia Eletrica",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "acceptFileTypes": "pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        32
      ],
      "id": "8a3db364-c274-43dc-a839-8ac867006de3",
      "name": "On form submission",
      "webhookId": "2ba757e2-2aaf-47c1-adea-01ebc67e8fbb"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        32
      ],
      "id": "ae6efd3c-62a2-42db-bb04-2a9c8b6cf26b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        32
      ],
      "id": "0830a4b3-fd45-4293-a715-ebd441e6f594",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n\t{\n\t\t\"Número da UC\": 40899446,\n\t\t\"Conta mês\": \"06/2025\",\n\t\t\"Vencimento\": \"20/06/2025\",\n\t\t\"Total a pagar\": \"R$158,00\",\n\t\t\"Leitura Anterior\": \"03/05/2025\",\n\t\t\"Leitura Atual\": \"03/06/2025\",\n\t\t\"No de Dias\": 31,\n\t\t\"Próxima Leitura\": \"04/07/2025\",\n\t\t\"Servicos\": [\n\t\t\t{\n\t\t\t\t\"Itens da Fatura\": \"CONSUMO TUSD\",\n\t\t\t\t\"Unid.\": \"KWh\",\n\t\t\t\t\"Quant.\": 431,\n\t\t\t\t\"Preço unit (R$) com tributos\": 541233,\n\t\t\t\t\"Valor (R$)\": 235,\n\t\t\t\t\"PIS/COFINS\": 12,\n\t\t\t\t\"Base Calc. ICMS (R$)\": 233,\n\t\t\t\t\"Alíquota. ICMS (R$)\": \"17%\",\n\t\t\t\t\"ICMS\": 39,\n\t\t\t\t\"Tarifa unit. (R$)\": 233\n\t\t\t}\n\t\t],\n      \"Grandezas\": [\n\t\t\t{\n\t\t\t\t\"Medidor\": 23131,\n                \"Grandezas\": \"CONSUMO kWh\",\n                \"Postos horários\": \"TP\",\n\t\t\t\t\"Leitura Anterior\": 1000,\n\t\t\t\t\"Leitura Atual\": 1431,\n\t\t\t\t\"Const Medidor\": 1,\n\t\t\t\t\"Consumo kWh\": 2351\n\t\t\t}\n\t\t],\n      \"Tributos\": [\n        {\n            \"Tributo\": \"ICMS\",\n          \"Base (R$)\": 122,\n          \"Aliquota (%)\": \"12%\",\n          \"Valor (R$)\": 12\n        }\n      ]\n\n\t}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        584,
        256
      ],
      "id": "df0f6462-473a-4775-9eee-d68b899647cc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        -160
      ],
      "id": "fb60db55-b4a7-4a61-8ff0-22fe089eef92",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1248,
        -64
      ],
      "id": "f7a16b6f-b6a2-4de3-8891-9153d6325036"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 142539991,
          "mode": "list",
          "cachedResultName": "Resumos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=142539991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Vencimento": "={{ $('Basic LLM Chain').item.json.output[0].Vencimento }}",
            "Total a pagar": "={{ $('Basic LLM Chain').item.json.output[0]['Total a pagar'] }}",
            "Data Leitura Anterior": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total a pagar",
              "displayName": "Total a pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Leitura Anterior",
              "displayName": "Data Leitura Anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Leitura Atual",
              "displayName": "Data Leitura Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No.de Dias",
              "displayName": "No.de Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Próxima Leitura",
              "displayName": "Data Próxima Leitura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -352
      ],
      "id": "68c39521-8116-4c53-9b70-bcac1b496337",
      "name": "Append row in Resumos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0]['Servicos']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "id": "07480c15-3fe1-4b1a-b9f8-c4bc1c73734a",
      "name": "Split Out Servicos"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 849809564,
          "mode": "list",
          "cachedResultName": "Itens de fatura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=849809564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Vencimento": "={{ $('Basic LLM Chain').item.json.output[0].Vencimento }}",
            "Item": "={{ $json['Itens da Fatura'] }}",
            "Unid": "={{ $json['Unid.'] }}",
            "Qte": "={{ $json['Quant.'] }}",
            "Preço unit (R$) com tributos": "={{ $json['Preço unit (R$) com tributos'] }}",
            "Valor (R$)": "={{ $json['Valor (R$)'] }}",
            "PIS/COFINS": "={{ $json['PIS/COFINS'] }}",
            "Base Calc. ICMS (R$)": "={{ $json.ICMS }}",
            "ICMS": "={{ $json.ICMS }}",
            "Tarifa unit (R$)": "={{ $json['Tarifa unit. (R$)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unid",
              "displayName": "Unid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qte",
              "displayName": "Qte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preço unit (R$) com tributos",
              "displayName": "Preço unit (R$) com tributos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor (R$)",
              "displayName": "Valor (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PIS/COFINS",
              "displayName": "PIS/COFINS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Base Calc. ICMS (R$)",
              "displayName": "Base Calc. ICMS (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICMS",
              "displayName": "ICMS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tarifa unit (R$)",
              "displayName": "Tarifa unit (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -256
      ],
      "id": "50d24d30-9563-4247-a36a-1e889fe670e1",
      "name": "Append row in Itens de Fatura",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        224
      ],
      "id": "6c8fcf26-fa5a-4492-b3e8-da07d09e4150",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1248,
        320
      ],
      "id": "ba5e7b89-1268-4299-91f9-33c60a97dc14"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0]['Grandezas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "1edc92a3-58df-4a82-8cea-a4d02d6f99c5",
      "name": "Split Out Grandezas"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234156237,
          "mode": "list",
          "cachedResultName": "Grandezas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=1234156237"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Vencimento": "={{ $('Basic LLM Chain').item.json.output[0].Vencimento }}",
            "Medidor": "={{ $json.Medidor }}",
            "Grandezas": "={{ $json.Grandezas }}",
            "Postos horários": "={{ $json['Postos horários'] }}",
            "Const Medidor": "={{ $json['Const Medidor'] }}",
            "Consumo kWh": "={{ $json['Consumo kWh'] }}",
            "Leitura Anterior": "={{ $json['Leitura Anterior'] }}",
            "Leitura Atual": "={{ $json['Leitura Atual'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medidor",
              "displayName": "Medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grandezas",
              "displayName": "Grandezas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Postos horários",
              "displayName": "Postos horários",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Const Medidor",
              "displayName": "Const Medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Consumo kWh",
              "displayName": "Consumo kWh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Leitura Anterior",
              "displayName": "Leitura Anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Leitura Atual",
              "displayName": "Leitura Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        128
      ],
      "id": "4762be98-c08a-4cfd-a78f-bc74ec1fc943",
      "name": "Append row in Grandezas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        608
      ],
      "id": "4bc6fe6d-b481-4722-b585-c2f77054f658",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1248,
        704
      ],
      "id": "aac07d34-8715-4ee8-a076-e55e49d1ef3e"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0]['Tributos']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        608
      ],
      "id": "2cc457b7-3423-4892-963d-5f9b6ce098ed",
      "name": "Split Out Tributos"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1083593030,
          "mode": "list",
          "cachedResultName": "Tributos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=1083593030"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Vencimento": "={{ $('Basic LLM Chain').item.json.output[0].Vencimento }}",
            "Tributo": "={{ $json.Tributo }}",
            "Nota Fiscal": "=",
            "Base (R$)": "={{ $json['Base (R$)'] }}",
            "Aliquota (%)": "={{ $json['Aliquota (%)'] }}",
            "Valor (R$)": "={{ $json['Valor (R$)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tributo",
              "displayName": "Tributo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Base (R$)",
              "displayName": "Base (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Aliquota (%)",
              "displayName": "Aliquota (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor (R$)",
              "displayName": "Valor (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        512
      ],
      "id": "fc86e2e7-aa16-4444-9d54-67dbe9caf0a3",
      "name": "Append row in Tributos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        456,
        256
      ],
      "id": "1d897233-c938-4d4e-bace-3a2f2aff935e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out Servicos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in Resumos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Grandezas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Tributos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append row in Itens de Fatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Servicos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in Itens de Fatura": {
      "main": [
        []
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Append row in Grandezas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Grandezas": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Append row in Tributos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Tributos": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "86ff2f18-8e55-4981-9ed9-e550c9c6edbb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-14T00:35:31.378Z",
      "updatedAt": "2025-07-14T00:35:31.378Z",
      "role": "workflow:owner",
      "workflowId": "OOfxC9jjuvbSnnxA",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}