backup/qsFInEehdT4xQ7yA.json
{
  "createdAt": "2025-09-22T12:03:07.269Z",
  "updatedAt": "2025-09-29T18:30:26.691Z",
  "id": "qsFInEehdT4xQ7yA",
  "name": "EcmExtractPDFPowerInvoice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        432,
        -384
      ],
      "id": "322b2f89-18d5-40c1-8537-3bd58c843c3d",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        656,
        -384
      ],
      "id": "9f7942f9-02cd-4ed2-b325-4795fd7e6f78",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n\t{\n\t\t\"Número da UC\": 40899446,\n\t\t\"Conta mês\": \"06/2025\",\n\t\t\"Vencimento\": \"20/06/2025\",\n\t\t\"Total a pagar\": \"R$158,00\",\n\t\t\"Leitura Anterior\": \"03/05/2025\",\n\t\t\"Leitura Atual\": \"03/06/2025\",\n\t\t\"No de Dias\": 31,\n\t\t\"Próxima Leitura\": \"04/07/2025\",\n\t\t\"Servicos\": [\n\t\t\t{\n\t\t\t\t\"Itens da Fatura\": \"CONSUMO TUSD\",\n\t\t\t\t\"Unid.\": \"KWh\",\n\t\t\t\t\"Quant.\": 431,\n\t\t\t\t\"Preço unit (R$) com tributos\": 541233,\n\t\t\t\t\"Valor (R$)\": 235,\n\t\t\t\t\"PIS/COFINS\": 12,\n\t\t\t\t\"Base Calc. ICMS (R$)\": 233,\n\t\t\t\t\"Alíquota. ICMS (R$)\": \"17%\",\n\t\t\t\t\"ICMS\": 39,\n\t\t\t\t\"Tarifa unit. (R$)\": 233,\n                \"CIP Municipal\": 30,\n                \"IMP.RET. IRPJ(1,20%)\": -12,\n                \"IMP.RET. IRPJ(4,20%)\": -23\n\t\t\t}\n\t\t],\n      \"Grandezas\": [\n\t\t\t{\n\t\t\t\t\"Medidor\": 23131,\n                \"Grandezas\": \"CONSUMO kWh\",\n                \"Postos horários\": \"TP\",\n\t\t\t\t\"Leitura Anterior\": 1000,\n\t\t\t\t\"Leitura Atual\": 1431,\n\t\t\t\t\"Const Medidor\": 1,\n\t\t\t\t\"Consumo kWh\": 2351\n\t\t\t}\n\t\t]\t\n\n\t}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        -160
      ],
      "id": "d6ad1231-7ec1-43bf-867d-88e627810469",
      "name": "Structured Output Parser",
      "notesInFlow": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        -160
      ],
      "id": "17ebc31b-ed66-45ca-a237-cf31181a3f97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        0
      ],
      "id": "3020313c-ae7e-48fa-963a-bc4d915d31d4",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1904,
        96
      ],
      "id": "314db374-1367-428a-9eed-3723aff987ec"
    },
    {
      "parameters": {
        "batchSize": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas.length }}",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        -384
      ],
      "id": "ef0215a7-ded8-4375-80b5-3d1171c37a88",
      "name": "Loop Over Items2",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1904,
        -288
      ],
      "id": "49c2d20a-d28a-492b-b42c-4d18b58eb81f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "{{ $('Basic LLM Chain').item.json.output[0].Servicos }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        0
      ],
      "id": "34324246-1f44-4ba1-b75b-a2c2a64c5486",
      "name": "Split Out Servicos",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lFfQ-Zj7m7wcoJzG2Rb2deJ77FsRam3Z",
          "mode": "list",
          "cachedResultName": "in",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lFfQ-Zj7m7wcoJzG2Rb2deJ77FsRam3Z"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -384
      ],
      "id": "94d6d162-fdb0-42c6-ade9-897f8f65dd7d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BiC9ZI1GHJNbQwMF",
          "name": "Google Drive Account ECM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a927e858-8223-4a28-be5f-78b46d311489",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -384
      ],
      "id": "7e643ac3-4ac3-48b9-a887-11adfa935628",
      "name": "If Pdf",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -384
      ],
      "id": "0a4a37c1-f747-48c0-8853-4f525e50d577",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        -384
      ],
      "id": "7d0404b3-154e-43ac-94d4-bc135f03a039",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BiC9ZI1GHJNbQwMF",
          "name": "Google Drive Account ECM"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234156237,
          "mode": "list",
          "cachedResultName": "Grandezas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=1234156237"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Medidor": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas[0].Medidor }}",
            "Grandezas": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas[0].Grandezas }}",
            "Postos horários": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas[0]['Postos horários'] }}",
            "Const Medidor": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas[0]['Const Medidor'] }}",
            "Consumo kWh": "={{ $('Basic LLM Chain').item.json.output[0].Grandezas[0]['Consumo kWh'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Medidor",
              "displayName": "Medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grandezas",
              "displayName": "Grandezas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postos horários",
              "displayName": "Postos horários",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Const Medidor",
              "displayName": "Const Medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consumo kWh",
              "displayName": "Consumo kWh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -480
      ],
      "id": "9e207fce-357e-4a29-9311-6a601e7000fd",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 849809564,
          "mode": "list",
          "cachedResultName": "Itens de fatura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=849809564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Item": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Itens da Fatura'] }}",
            "Unid": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Unid.'] }}",
            "Qte": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Quant.'] }}",
            "Preço unit (R$) com tributos": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Preço unit (R$) com tributos'] }}",
            "Valor (R$)": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Valor (R$)'] }}",
            "PIS/COFINS": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['PIS/COFINS'] }}",
            "Base Calc. ICMS (R$)": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Base Calc. ICMS (R$)'] }}",
            "ICMS": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0].ICMS }}",
            "Tarifa unit (R$)": "={{ $('Basic LLM Chain').item.json.output[0]['Serviços'][0]['Tarifa unit. (R$)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unid",
              "displayName": "Unid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qte",
              "displayName": "Qte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preço unit (R$) com tributos",
              "displayName": "Preço unit (R$) com tributos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor (R$)",
              "displayName": "Valor (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PIS/COFINS",
              "displayName": "PIS/COFINS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Base Calc. ICMS (R$)",
              "displayName": "Base Calc. ICMS (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICMS",
              "displayName": "ICMS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tarifa unit (R$)",
              "displayName": "Tarifa unit (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -96
      ],
      "id": "99c63f09-a3fa-4878-b303-47df5c28bde7",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 142539991,
          "mode": "list",
          "cachedResultName": "Resumos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=142539991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Número da UC": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}",
            "Conta mês": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}",
            "Vencimento": "={{ $('Basic LLM Chain').item.json.output[0].Vencimento }}",
            "Total a pagar": "={{ $('Basic LLM Chain').item.json.output[0]['Total a pagar'] }}",
            "Data Leitura Anterior": "={{ $('Basic LLM Chain').item.json.output[0]['Leitura Anterior'] }}",
            "Data Leitura Atual": "={{ $('Basic LLM Chain').item.json.output[0]['Leitura Atual'] }}",
            "No.de Dias": "={{ $('Basic LLM Chain').item.json.output[0]['No de Dias'] }}",
            "Data Próxima Leitura": "={{ $('Basic LLM Chain').item.json.output[0]['Próxima Leitura'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nota Fiscal",
              "displayName": "Nota Fiscal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Parceiro de Negócio",
              "displayName": "Parceiro de Negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número da UC",
              "displayName": "Número da UC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conta mês",
              "displayName": "Conta mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vencimento",
              "displayName": "Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total a pagar",
              "displayName": "Total a pagar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data Leitura Anterior",
              "displayName": "Data Leitura Anterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data Leitura Atual",
              "displayName": "Data Leitura Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No.de Dias",
              "displayName": "No.de Dias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data Próxima Leitura",
              "displayName": "Data Próxima Leitura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -576
      ],
      "id": "3b72bede-99ea-4d18-9158-c6722d80bc3a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE",
          "mode": "list",
          "cachedResultName": "Geracao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 142539991,
          "mode": "list",
          "cachedResultName": "Resumos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RwmAZ3qWpVW9FfT5pF86kZrHThcre-o4ki95W2o46gE/edit#gid=142539991"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Número da UC",
              "lookupValue": "={{ $('Basic LLM Chain').item.json.output[0]['Número da UC'] }}"
            },
            {
              "lookupColumn": "Conta mês",
              "lookupValue": "={{ $('Basic LLM Chain').item.json.output[0]['Conta mês'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -544
      ],
      "id": "274da492-9524-4155-b69e-d9cc5670caa4",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FzBftf4jZzuSfzZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f6409c4-3498-43c4-89d9-8eaa8aed3e5c",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        -560
      ],
      "id": "152ca1d1-693f-4df3-9c75-d7342afa2cfa",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "{{ $('Basic LLM Chain').item.json.output[0].Grandezas }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        -384
      ],
      "id": "e69eaf86-0caf-4ce5-b8ef-04a8d47d7265",
      "name": "Split Out Grandezas",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out Grandezas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Servicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Servicos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pdf": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Grandezas": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a0d39fd5-1432-42ea-a2aa-f2e1ec682e5c",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-22T12:03:07.269Z",
      "updatedAt": "2025-09-22T12:03:07.269Z",
      "role": "workflow:owner",
      "workflowId": "qsFInEehdT4xQ7yA",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}