backup/qsFInEehdT4xQ7yA.json
{
  "createdAt": "2025-09-22T12:03:07.269Z",
  "updatedAt": "2025-09-22T14:18:36.703Z",
  "id": "qsFInEehdT4xQ7yA",
  "name": "EcmExtractPDFPowerInvoice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "322b2f89-18d5-40c1-8537-3bd58c843c3d",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ],
      "id": "9f7942f9-02cd-4ed2-b325-4795fd7e6f78",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n\t{\n\t\t\"Número da UC\": 40899446,\n\t\t\"Conta mês\": \"06/2025\",\n\t\t\"Vencimento\": \"20/06/2025\",\n\t\t\"Total a pagar\": \"R$158,00\",\n\t\t\"Leitura Anterior\": \"03/05/2025\",\n\t\t\"Leitura Atual\": \"03/06/2025\",\n\t\t\"No de Dias\": 31,\n\t\t\"Próxima Leitura\": \"04/07/2025\",\n\t\t\"Serviços\": [\n\t\t\t{\n\t\t\t\t\"Itens da Fatura\": \"CONSUMO TUSD\",\n\t\t\t\t\"Unid.\": \"KWh\",\n\t\t\t\t\"Quant.\": 431,\n\t\t\t\t\"Preço unit (R$) com tributos\": 541233,\n\t\t\t\t\"Valor (R$)\": 235,\n\t\t\t\t\"PIS/COFINS\": 12,\n\t\t\t\t\"Base Calc. ICMS (R$)\": 233,\n\t\t\t\t\"Alíquota. ICMS (R$)\": \"17%\",\n\t\t\t\t\"ICMS\": 39,\n\t\t\t\t\"Tarifa unit. (R$)\": 233\n\t\t\t}\n\t\t],\n      \"Grandezas\": [\n\t\t\t{\n\t\t\t\t\"Grandezas\": \"CONSUMO kWh\",\n                \"Postos horários\": \"PT\",\n\t\t\t\t\"Leitura Anterior\": 1000,\n\t\t\t\t\"Leitura Atual\": 1431,\n\t\t\t\t\"Const Medidor\": 1,\n\t\t\t\t\"Consumo kWh\": 2351,\n\t\t\t\t\"Medidor\": 2332\n\t\t\t}\n\t\t],\n        \"TOTAL\": 15\t\n\n\t}\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        192
      ],
      "id": "d6ad1231-7ec1-43bf-867d-88e627810469",
      "name": "Structured Output Parser",
      "notesInFlow": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        224
      ],
      "id": "17ebc31b-ed66-45ca-a237-cf31181a3f97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        80
      ],
      "id": "3020313c-ae7e-48fa-963a-bc4d915d31d4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1264,
        112
      ],
      "id": "314db374-1367-428a-9eed-3723aff987ec"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        -144
      ],
      "id": "ef0215a7-ded8-4375-80b5-3d1171c37a88",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1264,
        -112
      ],
      "id": "49c2d20a-d28a-492b-b42c-4d18b58eb81f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0]['Serviços']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        80
      ],
      "id": "34324246-1f44-4ba1-b75b-a2c2a64c5486",
      "name": "Split Out Servicos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0]['Grandezas']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        -144
      ],
      "id": "e69eaf86-0caf-4ce5-b8ef-04a8d47d7265",
      "name": "Split Out Grandezas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "09ea6e8b-db82-472f-9322-bb8025a568e1",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "fZwdiNZoyeoycsdq",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d-rh1a83gCMmIF075SxZGYkwPrAw7zVv",
          "mode": "list",
          "cachedResultName": "CEEE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d-rh1a83gCMmIF075SxZGYkwPrAw7zVv"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -208
      ],
      "id": "94d6d162-fdb0-42c6-ade9-897f8f65dd7d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BiC9ZI1GHJNbQwMF",
          "name": "Google Drive Account ECM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a927e858-8223-4a28-be5f-78b46d311489",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -208
      ],
      "id": "7e643ac3-4ac3-48b9-a887-11adfa935628",
      "name": "If Pdf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -240
      ],
      "id": "0a4a37c1-f747-48c0-8853-4f525e50d577",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        -240
      ],
      "id": "7d0404b3-154e-43ac-94d4-bc135f03a039",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BiC9ZI1GHJNbQwMF",
          "name": "Google Drive Account ECM"
        }
      }
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out Servicos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Grandezas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Servicos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Grandezas": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pdf": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f227f572-e795-4f91-9335-6a47b101f7ef",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-22T12:03:07.269Z",
      "updatedAt": "2025-09-22T12:03:07.269Z",
      "role": "workflow:owner",
      "workflowId": "qsFInEehdT4xQ7yA",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}