backup/ShsYWKjj09XVKPmV.json
{
  "createdAt": "2025-02-05T14:41:53.742Z",
  "updatedAt": "2025-02-06T18:10:01.205Z",
  "id": "ShsYWKjj09XVKPmV",
  "name": "SigesAI_Home",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        -100
      ],
      "id": "79fbac43-b93a-4a31-a9c9-a1d0d0284f7b",
      "name": "When chat message received",
      "webhookId": "c13497a9-2279-4c88-b540-c7fc1a01a633"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "id": "6efee531-cb7b-44e1-8d03-ab62188631ad",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "sJ9wHD1Er2yb570n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        160,
        140
      ],
      "id": "29dd9388-e14a-4689-96bb-ae412829f0c3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ATaNiInY85bisU3B",
          "name": "Postgres Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Voce é um assitente virtual do aplicativo gerenciador de serviços chamado SIGES.\n\nSeja cordial.\n\nSua tarefa é indentificar a área responsável para melhor atender as duvidas do usuario.\n\nInicie o atendimento perguntando qual tipo de informação o que o usuario deseja:\n\nAbaixo as areas responsaveis e as tools correspondentes:\n- Suporte: funcionalidades do aplicativo, use a tool Manual.\n- Serviços: serviços solicitados no aplicativo, use a tool Services.\n\nVocê deve compreender significado de uma frase ou palavra com erros ortográficos;\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        60,
        -100
      ],
      "id": "96dd0845-a01a-4d99-809d-0b76e4f6e961",
      "name": "AI Home"
    },
    {
      "parameters": {
        "name": "Services",
        "description": "Acione este workflow para ajudar o usuario nas informações relacionados aos serviços realizados.",
        "workflowId": {
          "__rl": true,
          "value": "fbEufRMLmpnxWzpq",
          "mode": "list",
          "cachedResultName": "SigesAI_Services"
        },
        "fields": {
          "values": [
            {
              "name": "chatInput",
              "stringValue": "={{ $json.chatInput }}"
            },
            {
              "name": "sessionId",
              "stringValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        520,
        120
      ],
      "id": "6bce0d67-3298-437b-8a6d-b3f3088bdd96",
      "name": "toolsServices"
    },
    {
      "parameters": {
        "name": "Manual",
        "description": "=Acione este workflow para ajudar o usuario nas solucoes de duvidas quanto ao uso do aplicativo SIGES.",
        "workflowId": {
          "__rl": true,
          "value": "cMb7pLkWQgJvrdCS",
          "mode": "list",
          "cachedResultName": "SigesAI_Manual"
        },
        "fields": {
          "values": [
            {
              "name": "chatInput",
              "stringValue": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        320,
        120
      ],
      "id": "0777cc7c-4683-40e7-b6ed-b16747b34e30",
      "name": "Manual"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Home",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Home",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "toolsServices": {
      "ai_tool": [
        [
          {
            "node": "AI Home",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "ai_tool": [
        [
          {
            "node": "AI Home",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7a39e0e5-e28a-47d8-b5e3-4702054e7239",
  "triggerCount": 2,
  "tags": []
}