backup/TX2vXGm5XZ5SrUZf.json
{
  "updatedAt": "2025-12-31T16:10:48.944Z",
  "createdAt": "2025-12-31T15:42:47.010Z",
  "id": "TX2vXGm5XZ5SrUZf",
  "name": "SigesWhatsAppAssetsAvailableDraft New",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        48
      ],
      "id": "e395d3e6-f78c-40ce-85ff-3f20c48e785a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_units_assets_tags",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "last_processing_id",
              "condition": "eq",
              "keyValue": "1"
            },
            {
              "keyName": "last_created_user_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        -32
      ],
      "id": "d8873a03-8003-4c74-b493-84b2e6dbd10b",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        -32
      ],
      "id": "ec8ea57a-4325-48f0-965f-7fb82746c39f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        752,
        -32
      ],
      "id": "f11d4694-c30f-49aa-a333-9a28125862b3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0c88a34-541e-43c4-8b20-d0c98dc40345",
              "leftValue": "={{(() => {\n  const createdAt = new Date($json.last_created_at); // Data de criação\n  const now = new Date(); // Data atual\n  const diffMs = now - createdAt; // Diferença em milissegundos\n  const diffMinutes = Math.floor(diffMs / 60000); // Converter para minutos\n  return diffMinutes;\n})()}}\n\n\n",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        48
      ],
      "id": "ee9ad74c-331f-4e00-a77c-6aee3dae7609",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "users_notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id_to",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "Disponibilidade Ativos em Rascunho"
            },
            {
              "fieldId": "body",
              "fieldValue": "=REPORTAR a sua informação quanto a disponibilidade de Ativos: {{ \"\\n\" + $('Get many rows').item.json.unit_description + \"\\n\" + $('Get many rows').item.json.tag_description + \"\\n\" + $('Get many rows').item.json.tag_sub_description + \"\\n\" }}"
            },
            {
              "fieldId": "user_to_whatsapp",
              "fieldValue": "={{ $json.mobile_whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        -224
      ],
      "id": "65494365-d590-4939-9f01-e13fe963cb11",
      "name": "Create a row1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -160
      ],
      "id": "3609dd24-f9ec-4d5d-a6fc-955c3caab1bc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "v_users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.last_created_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -224
      ],
      "id": "973cae35-a277-431f-8d52-1caa8e5a0abc",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "v_assets_available",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.last_asset_available_id }}"
            },
            {
              "keyName": "processing_id",
              "keyValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        144
      ],
      "id": "884d3a16-087f-40fd-b76a-e1ab62474d53",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f11afb51-c163-4312-a2a1-49a7f6d8865b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-31T15:42:47.010Z",
      "createdAt": "2025-12-31T15:42:47.010Z",
      "role": "workflow:owner",
      "workflowId": "TX2vXGm5XZ5SrUZf",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}