backup/UYsMNf0pNsns4BeD.json
{
  "createdAt": "2025-08-29T12:46:15.042Z",
  "updatedAt": "2025-08-31T02:54:19.512Z",
  "id": "UYsMNf0pNsns4BeD",
  "name": "SigesExportToExcel",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_assets",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "unit_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.unit_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        -384
      ],
      "id": "33c64584-7ca5-4cab-b735-c97a4f9947bf",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "=Unidade_{{ $json['Código Unidade'] }}_Ativos_{{ DateTime.now().toFormat('yyyy-MM-dd_HH-mm-ss') }}.xlsx",
          "headerRow": true,
          "sheetName": "Ativos"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        80,
        -384
      ],
      "id": "a6a62cce-2ac8-481c-9b4e-9a40a4fec501",
      "name": "Convert to File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2550a352-3452-4056-b53e-6cd8e0a8ba2f",
              "name": "Código Unidade",
              "value": "={{$json.unit_code}}",
              "type": "string"
            },
            {
              "id": "d3a294b0-5c3e-4183-9d15-cbcc535bba65",
              "name": "Unidade",
              "value": "={{$json.unit_description}}",
              "type": "string"
            },
            {
              "id": "2116a1ba-478c-4dcf-b3c0-f1636cd17d20",
              "name": "Setores",
              "value": "={{$json.tag_description}}",
              "type": "string"
            },
            {
              "id": "4c25a328-a5b4-4016-a21a-ab8970a45ba2",
              "name": "Posições",
              "value": "={{$json.tag_sub_description}}",
              "type": "string"
            },
            {
              "id": "aed533bc-38f3-4c2b-a102-ee0d37377a9f",
              "name": "Código",
              "value": "={{$json.code}}",
              "type": "string"
            },
            {
              "id": "b4aec39b-d522-4372-846f-051075df6e44",
              "name": "Descrição",
              "value": "={{$json.description}}",
              "type": "string"
            },
            {
              "id": "962df03f-cd8a-4555-8f06-5f010f669370",
              "name": "Situação",
              "value": "={{$json.status_description}}",
              "type": "string"
            },
            {
              "id": "ce4f00b1-8adb-429b-a453-94f8f9c3a39c",
              "name": "Data Situação",
              "value": "={{ DateTime.fromISO($json.status_at).toFormat('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -384
      ],
      "id": "92a67f71-20f5-4945-8e6d-8d86e3cd5529",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd813ca9-1f74-4b93-8aa9-d2555dfd4dd8",
              "name": "unit_id",
              "value": "={{ $('Webhook').item.json.query.unit_id }}",
              "type": "string"
            },
            {
              "id": "42c04211-e008-41c5-a72a-d658ca24deac",
              "name": "report_name",
              "value": "={{ $('Webhook').item.json.query.report_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -464
      ],
      "id": "fefde12b-d25b-4b39-8018-05407af245dc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e2fab34-e022-463c-8148-54ba54fefb4d",
              "name": "report_name",
              "value": "={{ $json.report_name }}",
              "type": "string"
            },
            {
              "id": "7561f957-4e5d-4ae9-9ace-1f164ff6b1b9",
              "name": "unit_id",
              "value": "={{ $json.unit_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -384
      ],
      "id": "c7464323-ae21-4528-b238-d88488a5f0e5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.report_name }}",
                    "rightValue": "unit_assets_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f58d7823-29b9-4a62-b721-5c2f6b6a38e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unit_assets_all"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -672,
        -512
      ],
      "id": "f4c54d3a-e144-43b2-bc0d-34dc9bac783c",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exportToExcel",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        -384
      ],
      "id": "8ef557ea-8733-4eab-ae5a-cf633bf361d1",
      "name": "Webhook",
      "webhookId": "a3f4d6ef-dbf1-4a7d-bbbc-52b9308f5fba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.storage_url }}/{{ $('Webhook').item.json.body.storage_bucket }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization ",
              "value": "=Bearer {{ $('Webhook').item.json.body.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -384
      ],
      "id": "f46083f8-3681-4053-929a-addbe6bcf98a",
      "name": "HTTP Request",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f8016748-6e37-4cee-ab90-a95341a0bf95",
  "triggerCount": 1,
  "tags": []
}