backup/UYsMNf0pNsns4BeD.json
{
  "createdAt": "2025-08-29T12:46:15.042Z",
  "updatedAt": "2025-09-02T21:09:17.647Z",
  "id": "UYsMNf0pNsns4BeD",
  "name": "SigesExportToExcel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "=Unidade_{{ $('Get Unit').item.json.code }}_Ativos_{{ $('Get_Webhook_Parameters').item.json.report_name_additional }}_{{ DateTime.now().toFormat('yyyy-MM-dd_HH-mm-ss') }}.xlsx",
          "headerRow": true,
          "sheetName": "Ativos"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        -192
      ],
      "id": "a6a62cce-2ac8-481c-9b4e-9a40a4fec501",
      "name": "Convert to File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2550a352-3452-4056-b53e-6cd8e0a8ba2f",
              "name": "Código Unidade",
              "value": "={{ $('Get Unit').item.json.code }}",
              "type": "string"
            },
            {
              "id": "d3a294b0-5c3e-4183-9d15-cbcc535bba65",
              "name": "Unidade",
              "value": "={{$json.unit_description}}",
              "type": "string"
            },
            {
              "id": "2116a1ba-478c-4dcf-b3c0-f1636cd17d20",
              "name": "Setores",
              "value": "={{$json.tag_description}}",
              "type": "string"
            },
            {
              "id": "4c25a328-a5b4-4016-a21a-ab8970a45ba2",
              "name": "Posições",
              "value": "={{$json.tag_sub_description}}",
              "type": "string"
            },
            {
              "id": "aed533bc-38f3-4c2b-a102-ee0d37377a9f",
              "name": "Código",
              "value": "={{$json.code}}",
              "type": "string"
            },
            {
              "id": "b4aec39b-d522-4372-846f-051075df6e44",
              "name": "Descrição",
              "value": "={{$json.description}}",
              "type": "string"
            },
            {
              "id": "962df03f-cd8a-4555-8f06-5f010f669370",
              "name": "Situação",
              "value": "={{$json.status_description}}",
              "type": "string"
            },
            {
              "id": "ce4f00b1-8adb-429b-a453-94f8f9c3a39c",
              "name": "Data Situação",
              "value": "={{ DateTime.fromISO($json.status_at).toFormat('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -320
      ],
      "id": "92a67f71-20f5-4945-8e6d-8d86e3cd5529",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd813ca9-1f74-4b93-8aa9-d2555dfd4dd8",
              "name": "unit_id",
              "value": "={{ $('Webhook').item.json.body.unit_id }}",
              "type": "number"
            },
            {
              "id": "42c04211-e008-41c5-a72a-d658ca24deac",
              "name": "report_name",
              "value": "={{ $('Webhook').item.json.body.report_name }}",
              "type": "string"
            },
            {
              "id": "91eb06c0-72f1-437f-afbc-ddb7f558adfa",
              "name": "filenameAdditional",
              "value": "Todos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -400
      ],
      "id": "fefde12b-d25b-4b39-8018-05407af245dc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.report_name }}",
                    "rightValue": "unit_assets_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f58d7823-29b9-4a62-b721-5c2f6b6a38e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unit_assets_all"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1b25783-0f64-4a1f-ac4a-3e7700bf171f",
                    "leftValue": "={{ $('Webhook').item.json.body.report_name }}",
                    "rightValue": "unit_assets_tag",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unit_assets_tag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "46e805d6-b51d-497f-b231-440cfabc6fd7",
                    "leftValue": "={{ $('Webhook').item.json.body.report_name }}",
                    "rightValue": "unit_assets_tag_available",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unit_assets_tag_available"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1040,
        -240
      ],
      "id": "f4c54d3a-e144-43b2-bc0d-34dc9bac783c",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exportToExcel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1824,
        -240
      ],
      "id": "8ef557ea-8733-4eab-ae5a-cf633bf361d1",
      "name": "Webhook",
      "webhookId": "a3f4d6ef-dbf1-4a7d-bbbc-52b9308f5fba"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"fileUrl\": \"{{ $('Webhook').item.json.body.storage_url }}/{{ $json.Key }}\",\n\"filename\": \"{{ $('Convert to File').item.binary.data.fileName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        -192
      ],
      "id": "78ee7d55-2d6e-427c-b811-3176c51371ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd813ca9-1f74-4b93-8aa9-d2555dfd4dd8",
              "name": "unit_id",
              "value": "={{ $('Webhook').item.json.body.unit_id }}",
              "type": "string"
            },
            {
              "id": "42c04211-e008-41c5-a72a-d658ca24deac",
              "name": "report_name",
              "value": "={{ $('Webhook').item.json.body.report_name }}",
              "type": "string"
            },
            {
              "id": "c46b855f-1917-47a0-b057-904c7c051452",
              "name": "asset_tag_id",
              "value": "={{ $('Webhook').item.json.body.asset_tag_id }}",
              "type": "number"
            },
            {
              "id": "cc6686f9-bfb9-4a4a-a382-ba9d24edde7a",
              "name": "filenameAdditional",
              "value": "Setor",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -224
      ],
      "id": "7261ac9b-97a9-464e-b740-048e93e8754a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd813ca9-1f74-4b93-8aa9-d2555dfd4dd8",
              "name": "unit_id",
              "value": "={{ $('Webhook').item.json.body.unit_id }}",
              "type": "string"
            },
            {
              "id": "42c04211-e008-41c5-a72a-d658ca24deac",
              "name": "report_name",
              "value": "={{ $('Webhook').item.json.body.report_name }}",
              "type": "string"
            },
            {
              "id": "c46b855f-1917-47a0-b057-904c7c051452",
              "name": "asset_tag_id",
              "value": "={{ $('Webhook').item.json.body.asset_tag_id }}",
              "type": "number"
            },
            {
              "id": "98ed47aa-87bf-4f49-96f3-ec4e7ba330e0",
              "name": "filenameAdditional",
              "value": "Disponibilidade",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -48
      ],
      "id": "1349e64e-76c7-4ccd-b2a0-263934595272",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3a294b0-5c3e-4183-9d15-cbcc535bba65",
              "name": "Unidade",
              "value": "={{$json.unit_description}}",
              "type": "string"
            },
            {
              "id": "2116a1ba-478c-4dcf-b3c0-f1636cd17d20",
              "name": "Setores",
              "value": "={{$json.tag_description}}",
              "type": "string"
            },
            {
              "id": "4c25a328-a5b4-4016-a21a-ab8970a45ba2",
              "name": "Posições",
              "value": "={{$json.tag_sub_description}}",
              "type": "string"
            },
            {
              "id": "ce4f00b1-8adb-429b-a453-94f8f9c3a39c",
              "name": "Data ",
              "value": "={{ DateTime.fromISO($json.reported_at).toFormat('dd/MM/yyyy HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "42ad0a30-7638-459f-a653-d307d470dce3",
              "name": "Disponível",
              "value": "={{$json.is_available}}",
              "type": "string"
            },
            {
              "id": "1c834813-7890-4a92-b387-f3a675e32570",
              "name": "Anexo",
              "value": "={{ $('Get_Webhook_Parameters').item.json.storage_url_public }}/{{ $('Get_Webhook_Parameters').item.json.storage_bucket }}/{{$json.file_path}}/{{$json.file_name}}",
              "type": "string"
            },
            {
              "id": "76705e59-97e1-49b0-a460-41743d1dcbf8",
              "name": "Comentários",
              "value": "={{$json.comments}}",
              "type": "string"
            },
            {
              "id": "3163e8e5-ba7d-487b-b62e-df58dad7e2f6",
              "name": "Responsável",
              "value": "={{$json.reported_user_name_short}}",
              "type": "string"
            },
            {
              "id": "1c051d1f-3224-4799-befd-8003c557f2e7",
              "name": "Código Unidade",
              "value": "={{ $('Get Unit').item.json.code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -48
      ],
      "id": "78927ff4-2fa7-4f6f-9509-d7c61db698f0",
      "name": "Edit Fields5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38dae9f9-12ca-481d-a9c3-351e0d3084af",
              "leftValue": "={{ $json.unit_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        -240
      ],
      "id": "5f531a0a-11c2-4a8e-a57a-83355b226b86",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e2fab34-e022-463c-8148-54ba54fefb4d",
              "name": "report_name",
              "value": "={{ $json.body.report_name }}",
              "type": "string"
            },
            {
              "id": "7561f957-4e5d-4ae9-9ace-1f164ff6b1b9",
              "name": "unit_id",
              "value": "={{ $json.body.unit_id }}",
              "type": "number"
            },
            {
              "id": "369071e7-0d27-4e1d-8cdf-e2ba82eb2df1",
              "name": "asset_tag_id",
              "value": "={{ $json.body.asset_tag_id }}",
              "type": "number"
            },
            {
              "id": "47868e3a-ba66-4e39-a74a-66b9671523fb",
              "name": "report_name_additional",
              "value": "={{ $json.body.report_name_additional }}",
              "type": "string"
            },
            {
              "id": "bf32c3ca-0d85-4841-8851-a938b9a1f448",
              "name": "storage_url_upload",
              "value": "={{ $json.body.storage_url }}",
              "type": "string"
            },
            {
              "id": "848a0bf3-5d3a-405e-8104-34705494dd04",
              "name": "storage_bucket",
              "value": "={{ $json.body.storage_bucket }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -240
      ],
      "id": "c7464323-ae21-4528-b238-d88488a5f0e5",
      "name": "Get_Webhook_Parameters"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "v_units",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.unit_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        -336
      ],
      "id": "a5dfbd2f-9868-42ae-a1ef-31bc7f6b21f1",
      "name": "Get Unit",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_assets",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "unit_id",
              "condition": "eq",
              "keyValue": "={{ $('Get_Webhook_Parameters').item.json.unit_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        -400
      ],
      "id": "33c64584-7ca5-4cab-b735-c97a4f9947bf",
      "name": "Get Unit Assets All",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_assets",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "unit_id",
              "condition": "eq",
              "keyValue": "={{ $('Get_Webhook_Parameters').item.json.unit_id }}"
            },
            {
              "keyName": "tag_id",
              "condition": "eq",
              "keyValue": "={{ $('Get_Webhook_Parameters').item.json.asset_tag_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        -224
      ],
      "id": "aba27671-b0fa-46c9-be65-0c1ebec557c5",
      "name": "Get Unit Assets Tag",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_assets_available",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "unit_id",
              "condition": "eq",
              "keyValue": "={{ $('Get_Webhook_Parameters').item.json.unit_id }}"
            },
            {
              "keyName": "asset_tag_id",
              "condition": "eq",
              "keyValue": "={{ $('Get_Webhook_Parameters').item.json.asset_tag_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        -48
      ],
      "id": "550e4e02-5938-43ad-879d-096a6b059d4c",
      "name": "Get Unit Assets Tag Available",
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get_Webhook_Parameters').item.json.storage_url_upload }}/{{ $('Get_Webhook_Parameters').item.json.storage_bucket }}/temp/reports/{{ $binary.data.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -192
      ],
      "id": "f46083f8-3681-4053-929a-addbe6bcf98a",
      "name": "HTTP SB Storage Upload",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "3e1v0m7ap64TE24A",
          "name": "SIGES Supabase"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP SB Storage Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get Unit Assets All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get_Webhook_Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get Unit Assets Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Get Unit Assets Tag Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Unit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Webhook_Parameters": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit Assets All": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit Assets Tag": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unit Assets Tag Available": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP SB Storage Upload": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0e500806-2b25-4015-adf4-7b4e9764604c",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-29T12:46:15.042Z",
      "updatedAt": "2025-08-29T12:46:15.042Z",
      "role": "workflow:owner",
      "workflowId": "UYsMNf0pNsns4BeD",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}