backup/vi9i8b2ZgQic6P2h.json
{
  "createdAt": "2025-02-04T11:22:57.471Z",
  "updatedAt": "2025-02-06T21:57:42.997Z",
  "id": "vi9i8b2ZgQic6P2h",
  "name": "BaseConhecimento 202502040822",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -140
      ],
      "id": "ad3e4c87-1dc8-49ef-a951-03ea8973c2f2",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "drawingsToFormat": "image/png"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        -160
      ],
      "id": "be0e8db5-7031-4ed1-ae84-cb4855a92a54",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        680,
        80
      ],
      "id": "37912799-d255-4391-9ea0-f880975554e5",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1160,
        -180
      ],
      "id": "7e5e8a51-798b-4128-9e55-6004a12cae5e",
      "name": "Supabase Vector Store",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1340,
        60
      ],
      "id": "81d8aa99-0395-4296-bad7-f50d3c32e029",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1420,
        260
      ],
      "id": "7961fff8-5c2b-4260-aa3c-2a9ed4258cb5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        -160
      ],
      "id": "165dc6ef-00c7-4184-b0b4-b9d2cfbfab89",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA",
          "mode": "list",
          "cachedResultName": "documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        -220
      ],
      "id": "aece9445-a118-4977-8b13-c346ebdb59a8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA",
          "mode": "list",
          "cachedResultName": "documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JL6rgjzk4idjQg_NMh02NmvYlQO-GkxA"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        -20
      ],
      "id": "c72a5f7e-0b59-46c1-82c3-8c8c8fcd8242",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        -260
      ],
      "id": "ed7c6dec-2bad-4c0d-b889-1a64ecf3992e",
      "name": "Extract from File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47c68362-267e-404f-bba6-e7c5f816cd31",
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "593fb2c9-4763-4fec-8e9e-718f3399bea7",
                    "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d57be728-99ab-46d6-b528-8ee32d15f46b",
                    "leftValue": "{{ $('Edit Fields').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WORD"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        -120
      ],
      "id": "cfa8b8d4-9b28-4100-95ec-3cec4319cf25",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        -100
      ],
      "id": "c4a8fe37-d9a2-4ae5-907e-903fc2757b15",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ],
      "id": "cc87cb55-563f-4a6e-9b40-fc78f5ef05a7",
      "name": "Summarize"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 3072
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1220,
        40
      ],
      "id": "e23a72aa-97ad-4c11-8c5d-3a2ce82af520",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3YMySkm1rOMtIrtG",
          "name": "OpenAi Siges Dmae"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        460
      ],
      "id": "814c6f3c-014e-4c84-abc3-7765f7e69b25",
      "name": "When chat message received",
      "webhookId": "c13497a9-2279-4c88-b540-c7fc1a01a633"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "Você é um assistente virtual com a tarefa de prestar informações de forma individual ou agrupada oriundos dos relatorios de atendimentos às perguntas dos usuarios.\nSe você não souber a resposta, apenas diga que não sabe, não tente inventar uma resposta.\n----------------\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        320,
        440
      ],
      "id": "d5471ada-8ad4-4647-9b51-2e5bb0a2adb0",
      "name": "Question and Answer Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "id": "e2bdfa7a-aa5a-4411-8153-a78180a3e3d3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sJ9wHD1Er2yb570n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "topK": 12
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        660
      ],
      "id": "ecb15bf2-dedd-4ee3-82bb-317f8f035476",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        460,
        800
      ],
      "id": "ae3f739f-6102-40ca-9acb-1cc31f3b3bf7",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        980
      ],
      "id": "a1d4e8b1-b065-4bac-8f2f-d31c1c490240",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "sJ9wHD1Er2yb570n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        40
      ],
      "id": "187a813c-76b8-411d-b133-6ba2ef500f1b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "sJ9wHD1Er2yb570n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        160
      ],
      "id": "eebec61a-20ef-450a-a655-c041d2385be6",
      "name": "Edit Fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -100,
        160
      ],
      "id": "45123b58-21ea-41d2-aa28-eb39eff9f878",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NV6P6or6IURPzY4T",
          "name": "SB Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iCJao3u7PyvuBHGlaIPSKps4PEFoEeBQ",
          "mode": "list",
          "cachedResultName": "lixeira",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iCJao3u7PyvuBHGlaIPSKps4PEFoEeBQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        160
      ],
      "id": "c7271f37-8e9b-484a-ac49-6b619c0cf20a",
      "name": "Google Drive Trigger2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r7zfjHFzQf0PjmRJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "Voce é um assitente virtual do aplicativo gerenciador de serviços chamado SIGES.\nInicie o atendimento perguntando o que o usuario deseja.\nVocê sempre deverá acionar as tools para encaminhar o usuario para a area especifica conforme abaixo:\n- Para duvidas do aplicativo chamar a tool \"toolManual\";\n- Para servicos chamar a tool \"toolServices\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -980,
        700
      ],
      "id": "970cc89b-cbf5-4d8e-9851-4e6258233e5f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        940
      ],
      "id": "d900db71-282e-4446-9477-10ae57b13d31",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "sJ9wHD1Er2yb570n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -880,
        940
      ],
      "id": "990f1cc5-0b09-4fe0-92d2-246d5f8244c5",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ATaNiInY85bisU3B",
          "name": "Postgres Siges Automation"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Encaminhar",
        "method": "POST",
        "url": "https://automacao-n8n.n4rbtj.easypanel.host/webhook-test/siges-manual",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"sessionId\": {{ $json.sessionId }}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -700,
        980
      ],
      "id": "e2f3eabe-10c6-435b-a228-43b7d8d55caa",
      "name": "toolManual"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "toolManual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-02-07T22:38:28Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-02-07T22:38:29Z"
    },
    "node:Google Drive Trigger2": {
      "lastTimeChecked": "2025-02-07T22:38:29Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "9c5ca0c7-edcd-4c49-bc7d-dfe7dc33da04",
  "triggerCount": 5,
  "tags": []
}