backup/YbgmHKD3PbXIy0SU.json
{
  "createdAt": "2025-09-07T14:42:07.500Z",
  "updatedAt": "2025-09-08T01:17:25.194Z",
  "id": "YbgmHKD3PbXIy0SU",
  "name": "Siges_Ai",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sigesAi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -16
      ],
      "id": "a7faf05b-cc1b-4cd5-92b1-d908328c10fd",
      "name": "Webhook",
      "webhookId": "35b4c175-7176-4dab-af52-c80980dd9074"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab451b8b-4127-4fbc-9a0f-6fca295f5154",
              "name": "clientRemoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "71c80d1c-5df8-44dc-b103-0a8fa5e4d8b1",
              "name": "clientPushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "5752a0e4-425c-4f34-8912-3bb3c9a9d8a5",
              "name": "clientMsg",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "18184f6f-a70b-4489-9ddb-0708c007a6bb",
              "name": "clientMsgType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -16
      ],
      "id": "108265ec-6440-4dad-872f-02cdf3976da4",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ],
      "id": "13dfc546-4c92-4896-af13-298668f6f5fe",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.clientMsg }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "id": "165d8ccb-ae85-4ed5-b1cd-79d484a5654a",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.clientRemoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "0a26d829-075b-4f4b-a3cd-0ee493a5b28e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SIGES AI",
        "remoteJid": "={{ $('Edit Fields').item.json.clientRemoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "c65583f2-ee4f-4afc-a91e-673e82b056b6",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "L9NGnOBfKW7Jkuq8",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "description": "Consulte o Agente especializado em informar a disponibilidade de um setor tais como por exemplo: bombeamento, geração de energia e etc) de uma unidade operacional quantos ativos instalados desejada pelo usuario. O usuario deve informar obrigatoriamente o código da Unidade Operacional (unitCode) e o nome do Setor (assetTagDescription).",
        "workflowId": {
          "__rl": true,
          "value": "jD0Fo9zygdm7gQx2",
          "mode": "list",
          "cachedResultName": "Siges_AI_Units_Available_Rate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $fromAI('prompt', ``, 'string') }}",
            "sessionId": "={{ $fromAI('sessionId', ``, 'string') }}",
            "unitCode": "={{ $fromAI('unitCode', ``, 'string') }}",
            "assetTagDescription": "={{ $fromAI('assetTagDescription', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unitCode",
              "displayName": "unitCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "assetTagDescription",
              "displayName": "assetTagDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        112,
        224
      ],
      "id": "8b5c34bf-ed21-4d9d-b947-1f91b7a9df27",
      "name": "Tool UnitsAssetsTagsRate"
    },
    {
      "parameters": {
        "description": "Consulte o Agente especializado em informações sobre uma ou mais unidades operacionais.",
        "workflowId": {
          "__rl": true,
          "value": "8iAJoQKc1I5FeusC",
          "mode": "list",
          "cachedResultName": "Siges_AI_Units"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $fromAI('prompt', ``, 'string') }}",
            "sessionId": "={{ $fromAI('sessionId', ``, 'string') }}",
            "unitDescription": "={{ $fromAI('unitDescription', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unitDescription",
              "displayName": "unitDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        256,
        208
      ],
      "id": "7da5a486-a0da-4f76-be43-042e5209fddc",
      "name": "Tool Units"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool UnitsAssetsTagsRate": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Units": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e81da5cf-116f-4cd6-ab10-12ed493d9efe",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-07T14:42:07.500Z",
      "updatedAt": "2025-09-07T14:42:07.500Z",
      "role": "workflow:owner",
      "workflowId": "YbgmHKD3PbXIy0SU",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}