backup/yKxqFL4VV871sMFz.json
{
  "createdAt": "2025-09-07T15:24:02.510Z",
  "updatedAt": "2025-09-07T15:35:16.637Z",
  "id": "yKxqFL4VV871sMFz",
  "name": "Siges_AI_Template",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8fa28938-2b8d-43f5-b020-95133c392285",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "template"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b38c7826-0900-41b0-8807-85f86787163b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "cb5d17de-b87e-4687-bbf2-6a487168827d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dbYHbMOI7Nqe9oyt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a7dd96a-bfb0-4bdb-bed2-95412e0c9629",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "c1c70b2f-29ea-4900-9424-d6a858cd66e6",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompt": "ola"
        }
      }
    ]
  },
  "versionId": "de7950fe-6b87-46fd-80af-f3bc584d8e76",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-07T15:24:02.510Z",
      "updatedAt": "2025-09-07T15:24:02.510Z",
      "role": "workflow:owner",
      "workflowId": "yKxqFL4VV871sMFz",
      "projectId": "9g2PRDfYwAMYBotF"
    }
  ],
  "tags": []
}